<div class="navbar">
    <div class="brand">
		<img class="brand-icon-img" src="img/favicon/favicon-32x32.png?v=${window.APP_VERSION}" alt="Nightreign Database icon">
	<div class="brand-title">Nightreign Database</div>
    </div>

    <div class="browse-wrapper">
        <button class="browse-button" onclick="toggleBrowseMenu()">
            ☰ Browse ▾
        </button>

        <div id="browseMenu" class="browse-menu">
            <a href="index.html">Bosses</a>
            <a href="boss-prediction.html">Boss Prediction</a>
            <a href="deep-of-night.html">Deep of Night</a>
            <a href="about.html">About</a>
        </div>
    </div>

    <a href="index.html" data-page="bosses">Bosses</a>
    <a href="boss-prediction.html" data-page="boss-prediction">Boss Prediction</a>
    <a href="deep-of-night.html" data-page="deep-of-night">Deep of Night</a>
    <a href="about.html" data-page="about">About</a>
	
	<a href="https://ko-fi.com/mmachida" target="_blank" class="support-button">
    <span class="support-icon">💜</span>
    Support
</a>
</div>